transformers
datasets
accelerate
bitsandbytes
peft
evaluate
rouge-score
easydict
pyarrow==14.0.2
prettytable
tensorboard
torch
torchvision
torchtext
timm
tqdm
scipy
numpy
pillow
absl-py
nltk
six
matplotlib
click
deepspeed
lmdb==1.4.1
yapf==0.29.0